*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;  /*include the padding and border in an element's total width and height.*/
    font-family: sans-serif;
}

body
{
    background: linear-gradient(to right,#9c27b0, #8ecdff);
    background-position: 0 1000px;
}

/*////////////// Navigation /////////////////*/
nav
{
    font-family: sans-serif;
    background: #eaf4ff;
    height: 80px;
	width: 100%;
}

img.logo
{
    height: 80px;
    line-height: 80px; /*distance between two lines*/
    padding: 0 100px;
   
}

nav ul
{
    float: right;  /*position*/
    margin-right: 20px;
}

nav ul li
{
    display: inline-block; /*get horizontal*/
    line-height: 80px;
    margin: 0 5px;   /*height width*/
}

nav ul li a
{
    color: #0082e6;
    text-decoration: none;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover
{
    text-decoration: none;
    background:#0082e6;
    color: #ffffff;
    transition: 0.5s;
}

.checkbtn
{
    font-size: 30px;
    color:#0082e6;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check
{
    display: none;
    
}

@media (max-width: 952px)
{
    img.logo
    {
        height: 70px;
        padding-left: 50px;
    }
    nav ul li a
    {
        font-size: 16px;

    }
}

@media (max-width: 858px)
{
    .checkbtn
    {
        display: block;
        margin-top: 20px;
    }
    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0082e6;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
		z-index: 1; 
    }

    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a
    {
        color: #ffffff;
        font-size: 20px;

    }
    a:hover,a.active
    {
        background: none;
        color:#3b5998;
    }
    #check:checked ~ ul
    {
        left: 0;

    }
   
}

.container
{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 40px;
    text-align: center;

}

.container img
{
    margin-top: 50px;
    margin-bottom: 40px;
}

.container h1
{
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;

}

.container p
{
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 5rem;
    
}

/*.container a
{
    display: inline-block;
    padding: 15px 20px;
    background-color: rgb(83, 4, 156);
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    transition: background 0.5s;
}

.container a
{
    background:rgb(127, 25, 221);
    color: black;
}*/

#email a
{
    text-align: center;
    text-decoration: none;
    color: #000000;
}